<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body *ngIf="isLoggedIn">
  <div>
    <label>Author</label>
    <select id="auth" (change)="save($event)">
      <option *ngFor="let author of authors">{{author.name}} {{author.surname}} born on {{author.dateOfBirth}} in {{author.countryOfOrigin}}</option>
    </select>
    <button (click)="save($event)">Add New</button>
  </div>
  <div>
    <label>ISBN</label>
    <input id="isbn" placeholder="{{book.isbn}}" />
  </div>
  <div>
    <label>Genre</label>
    <input id="genre" placeholder="{{book.genre}}" />
  </div>
  <div>
    <label>Title</label>
    <input id="title" placeholder="{{book.title}}"/>
  </div>
  <div>
    <label>Description</label>
    <input id="descr" placeholder="{{book.description}}"/>
  </div>
  <div>
    <label>Image Link</label>
    <input type="file" (change)="onFileSelected($event)" id="image" />
  </div>
  <button (click)="save($event)">Save</button>
</body>
</html>
