<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>
  <h1 id="tableLabel">Library</h1>
  <div>
    <p><a id="login" *ngIf="!classReference.loggedIn" routerLink="register" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a></p>
    <p><a id="reg" *ngIf="!classReference.loggedIn" routerLink="login" routerLinkActive="active" ariaCurrentWhenActive="page">Sign In</a></p>
  </div>
  <div>
    <p><a id="logout" *ngIf="classReference.loggedIn" ariaCurrentWhenActive="page" (click)="logout($event)">Log Out</a></p>
  </div>
  <div><button *ngIf="classReference.loggedIn" routerLink="main" routerLinkActive="active" ariaCurrentWhenActive="page">To main page</button></div>
  <router-outlet></router-outlet>
</body>
</html>
